doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css")
        link(rel="stylesheet", href="/css/chatStyles.css")
        title SpoiledGPT
    body
        header
            #ai-icon
                img(src="/img/mainIcon.jpg", alt="")
                p SpoiledGPT
            #summarized-title
            if title
                i.fas.fa-chevron-down
                p= title
            select(id="model-selector")
                option(value="libra" selected) libra
                option(value="sparky") sparky
            p(id="model-description")
        main
            #chat-content
                each message in messages
                    if message.sender === 'user'
                        p(class=message.sender, id=message._id)
                            span= message.message
                            span
                                i.fas.fa-pencil-alt(id=message._id)
                                | edit
                    else if message.sender === 'assistant'
                        p(class=message.sender, id=message._id)
                            span= message.message
                            span
                                i.fas.fa-copy(id=message._id)
                                | copy
                            span
                                i.fas.fa-redo(id=message._id)
                                | retry
            #message-send
                input(type="text", id="user-input", autocomplete="off", name="message", placeholder="Send message...")
                button(id="submit-button")
                    i.fas.fa-arrow-up
        script(type="module", src="/js/updateChat.js")
